@inherits LayoutComponentBase
@inject IJSRuntime js
@inject UserService userService
@inject NavigationManager nav

@if (userService.IsLoggedIn)
{
    <div class="page">
            <div class="sidebar">
                <NavMenu />
            </div>
            <div class="main">
                <div class="top-row px-4">
                    <span class="ml-md-auto">@userService.LoginInfo.UserName</span>
                </div>
                <div class="content px-4">
                    @Body
                </div>
            </div>
        }
    </div>
    <RadzenDialog />
}
else
{
    <style>
        html, body, div#app {
            height: 100%;
        }

        div#app {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }
    </style>
    <GdeBabki.Client.Pages.Login LoggedIn="StateHasChanged"/>
}

<GdeBabki.Client.Pages.Error/>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            await js.InvokeAsync<IJSObjectReference>("import", "/js/scripts.js");
        }
    }
}