@inherits ViewBase<BanksViewModel>
@inject DialogService dialogService

<RadzenDataList Data="Model.Banks" TItem="Bank">
    <Template>
        <div class="row">
            <div class="col-3">
                <p>@context.Name</p>
            </div>
            <div class="col">
                <RadzenButton Click="() => OnAddEditClickAsync(context)">Edit</RadzenButton>
                <RadzenButton Click="() => OnDeleteClickAsync(context)">Delete</RadzenButton>               
            </div>
        </div>
    </Template>
</RadzenDataList>

<RadzenButton Click="() => OnAddEditClickAsync(null)">Add</RadzenButton>
<RadzenButton Click="() => dialogService.Close()">Close</RadzenButton>

@code {

    async void OnDeleteClickAsync(Bank bank)
    {
        await Model.DeleteBankAsync(bank.Id);
    }

    async void OnAddEditClickAsync(Bank bank)
    {
        var name = await dialogService.OpenInput("Bank Name", bank?.Name);
        if (name == null)
            return;

        bank = new Bank()
            {
                Id = bank?.Id ?? Guid.Empty,
                Name = name
            };

        await Model.UpsertBankAsync(bank);
    }
}
