@inherits ViewBase<EditTagsViewModel>

<div style="overflow:auto">
        @foreach (var tag in Model.Tags)
        {
            <div style="display:inline-block">
                <span style="padding:0.4rem;margin:2px 1px 1px 1px;border-radius:5px;background-color:dimgray;color:white">
                    <a href="#" style="color:lightgrey" @onclick="() => Model.DeleteTag(tag)" @onclick:preventDefault="true">🗙</a>&nbsp;@tag
                </span>
            </div>
        }
            
        <input @ref="refTextBox" type="text" style="outline:none;background-color:transparent;padding:0.4rem;border-width:0 0 1px 0" 
                   @oninput="e => Model.Tag = e.Value.ToString()" @onkeydown="OnKeyDown" @bind-value="Model.Tag" />
    
</div>
@if (Model.SuggestedTags != null)
{
    <div>
        <select size="5">
            @foreach (var tag in Model.SuggestedTags)
            {
                <option value="@tag">@tag</option>
            }
        </select>
    </div>
}
@code {
    [Parameter]
    public string Tags { get; set; }

    ElementReference refTextBox;
    void OnKeyDown(KeyboardEventArgs e)
    {
        switch (e.Key)
        {
            case "Enter":
                Model.AddTag();
                break;
            case "Backspace":
                Model.DeleteLastTag();
                break;
        }
    }

    protected override void OnInitialized()
    {
        Model.Tags = Tags?.Split('\t', StringSplitOptions.RemoveEmptyEntries).ToList();
        base.OnInitialized();
    }
}
