@inherits ViewBase<ErrorViewModel>
<div class="error-list">
    @foreach (var error in Model.Errors)
    {
        (string background_color, string foreground_color, string icon) notificationStyle = error.NotificationType switch
        {
            ErrorService.NotificationType.Info => ("royalblue", "white", "info_outline"),
            ErrorService.NotificationType.Success => ("lightgreen", "black", "task_alt"),
            ErrorService.NotificationType.Warning => ("lightyellow", "black", "warning_amber"),
            ErrorService.NotificationType.Error => ("crimson", "white", "dangerous"),
            _ => ("royalblue", "white", "info_outline")
        };

        var style = $"background-color:{notificationStyle.background_color};color:{notificationStyle.foreground_color};";

        <div class="notification" style="@style" title="@error.Message" @onmouseenter="e => Model.IsFrozen = true" @onmouseleave="e => Model.IsFrozen = false">
            <RadzenIcon Icon="@notificationStyle.icon" Style="float:left;margin: -10px 5px 0 -10px;font-size:3rem"></RadzenIcon>
            <RadzenIcon Icon="close" Style="float:right; cursor:pointer; margin: -15px -15px 0 0" @onclick="e => Model.RemoveError(error)"></RadzenIcon>
            <div class="error-message">
                @error.Message
            </div>
        </div>
    }
</div>

@code {
}
