@inject DialogService ds

@if (!string.IsNullOrEmpty(Caption))
{
    <p class="mb-4">@Caption</p>   
}
<div class="mb-4 d-flex align-items-stretch">
    <RadzenTextBox @bind-Value="Value" Style="width:100%"></RadzenTextBox>
</div>    

<div class="d-flex justify-content-end">
    <RadzenButton Text="Ok" Click="() => ds.Close(Value)" class="mr-2"/>
    <RadzenButton Text="Cancel" Click="() => ds.Close(null)" ButtonStyle="ButtonStyle.Secondary"/>
</div>

@code {
    [Parameter]
    public string Caption { get; set; }
    [Parameter]
    public string Value { get; set; }
}
