@inject DialogService ds

<div>
    <p class="mb-4">@Caption</p>
    <div class="row">
        <RadzenTextBox @bind-Value="Value"></RadzenTextBox>
        <div class="col">
            <RadzenButton Text="Ok" Click="() => ds.Close(Value)" Class="mr-1" Style="width: 80px;" />
            <RadzenButton Text="Cancel" Click="() => ds.Close(null)" ButtonStyle="ButtonStyle.Secondary" Class="mr-1" />
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Caption { get; set; }
    [Parameter]
    public string Value { get; set; }
}
