@page "/profile"
@inject DialogService dialogService
<h3>Profile</h3>

<p>
    <RadzenButton Text="Banks..." Click="OnBanksClickAsync" />
</p>
<p>
    <RadzenButton Text="Accounts..." Click="OnAccountsClickAsync" />
</p>
@code {
    async Task OnBanksClickAsync(MouseEventArgs e)
    {
        await dialogService.OpenAsync<Banks>("Banks", options: GBUtility.ResizableDialogOptions);
    }

    async Task OnAccountsClickAsync(MouseEventArgs e)
    {
        await dialogService.OpenAsync<Accounts>("Accounts", options: GBUtility.ResizableDialogOptions);
    }
}
