@page "/review"
@inherits ViewBase<ReviewViewModel>

<h3>Review</h3>
<RadzenGrid TItem="Transaction">
    <Columns>
        <RadzenGridColumn TItem="string"/>
    </Columns>
</RadzenGrid>

@code {

}
